<nb-card>
    <nb-card-header>
      Commission Table
    </nb-card-header>
  
    <nb-card-body>
      <div class="search">
        <label for="tRA">RA Name or ID: </label>
        <input type="text" #tRA id="tRA">
        <label for="beginDate">Begin Date: </label>
        <input nbInput
              placeholder="開始日期"
              [nbDatepicker]="beginDate" 
              [(ngModel)]="ngModelbeginDate">
        <nb-datepicker format="yyyy/MM/dd" #beginDate></nb-datepicker>
        <input nbInput
              placeholder="結束日期"
              [nbDatepicker]="endDate" 
              [(ngModel)]="ngModelendDate">
        <nb-datepicker format="yyyy/MM/dd" #endDate></nb-datepicker>
        <button (click)="getCommissions(tRA.value)">
          Search
        </button>
      </div>
  
      <ng2-smart-table [settings]="settings" [source]="source">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
  