<nb-card>
    <nb-card-header>
      Commission Table
    </nb-card-header>
  
    <nb-card-body>
      <div class="search">
        <label for="tRA">RA Name or ID: </label>
        <input type="text" #tRA id="tRA">
        <label for="beginDate">Begin Date: </label>
        <input type="text" #beginDate id="beginDate">
        <label for="endDate">End Date: </label>
        <input type="text" #endDate id="endDate">
        <button (click)="getCommissions(tRA.value,beginDate.value,endDate.value)">
          Search
        </button>
      </div>
  
      <ng2-smart-table [settings]="settings" [source]="source">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
  